.container{
  height: 100vh;
}

.pin{
  width: 6rem;
  height: 6rem;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  text-align: center;
  font-size: 1.5em;

}

.pin:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem;
}

.pin:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: 1px solid #d3d3d3;
}