
#sidebar-container{
    top: 0;
    background-color: #00B2FF;
    position: absolute;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
}
.sidebar-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: .5rem;
}
#sidebar-welcome{
    font-size: 2rem;
    text-align: center;
}
.sidebar-option-link{
    font-size: 1.5rem;
    text-align: center;
    width: 20vw;
}
.sidebar-option-link:hover{
   background-color: #017fb6;
}
#sidebar-container ul{
    width: 100%;
    list-style: none;
    line-height: 50px;
}