
#sidebar{
    margin-top: -10.1vh;
    background-color: #00B2FF;
    position: absolute;
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
}
#sidebar-welcome{
    font-size: 2rem;
}
.sidebar-option{
    font-size: 1.5rem;
}
nav#sidebar > ul{
    width: 80%;
    list-style: none;
    line-height: 50px;
}