/* Register page */
/* body {
  margin: 0;
} */

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00b3ff83;
}

.registration-header {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  color: black;
  margin: 0px 0px 20px 0px;
}

.registration-form {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  width: 380px;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.google-btn {
  padding: 10px;
  background-color: #ef4443;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
}
.google-btn:hover{
  background-color: #ff2727;
}
.registration-google-span {
  margin-left: 10px;
  font-weight: 700;
}
.registration-input {
  padding: 10px;
  border-bottom: 10px;
  color: gray;
  background-color: lightgray;
  border: 1px solid white;
}

.registration-radio-p {
  margin-top: 3px;
  margin-bottom: 7px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.registration-radio-input {
  justify-content: center;
  align-items: center;
  display: flex;
}
.registration-radio {
  margin-left: 10px;
  cursor: pointer;
}
.registration-label {
  font-size: 13px;
  color: gray;
}

.terms {
  margin: 0;
}

.sign-up-btn {
  padding: 10px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.9;
  font-weight: bold;
}
.sign-up-btn:hover{
  background-color: rgb(21, 101, 192);
}
.sign-up-btn:active{
  box-shadow: inset 0 0 5px black;
}
.registration-span {
  font-size: 12px;
  text-align: center;
}
.registration-link {
  color: rgb(0, 128, 255);
  font-weight: 700;
}
.registration-link:hover {
  color: rgb(0, 50, 255);
}

.registration-msg{
  margin-top: 0px;
  margin-bottom:0px;

  color:red;
  align-self: center;
}
